<%= render "main_app_layout/notices_main" %>
<%= render "main_app_layout/appmenu" %>

<div class="inquirs-container">
    <h1 class="inquirs-h1">Your latest inquiries</h1>
    <div class="inquirs-cards-container">
        <% @inquirs.each do |item| %>
            <div class="inquirs-cards">
                <p>Property Name: <br><strong><%= item.my_property_listing.title %></strong></p>
                <p>Date: <br><strong><%= item.created_at %></strong></p>
                <p>Inquirer Name: <br><strong><%= item.name %></strong></p>
                <p>Email: <br><strong><%= item.email %></strong></p>
                <p>Number: <br><strong><%= item.number %></strong></p>
                <p>Message: <br><strong><%= item.message %></strong></p>
            </div>
        <% end %>
    </div>
</div>