<nav id="app-nav">
    <div class="app-main-nav">
        <h1 id="app-site-title-h1"><%= link_to "FILIHOMES", root_path() %></h1>
        <div class="app-main-nav-item">
            <% if Current.user %>
                <span><%= link_to "Listings", my_listing_path(id: session[:user_id]) %></span>
                <span><%= link_to "Status", status_index_path(id: session[:user_id]) %></span>
                <span>Feed</span>
                <span>Inquiries</span>
                <span>Settings</span>
                <span><%= link_to 'Logout', session_destroy_path(), method: 'delete'%></span>
            <% else %>
                <span><%= link_to "Register", registrations_new_path() %></span>
                <span><%= link_to "Login", sessions_new_login_path() %></span>
            <% end %>
        </div>
    </div>
</nav>