<%= render "pages/notices" %>
<%= render "pages/menu" %>

<div class="register-form-container">
    <h1 id="register-now-h1">Register Now</h1>
    <%= form_with model: @user, url: registrations_create_path(), scope: "user" do |f| %>
    <p>
    <%= f.label 'name' %><br>
    <%= f.text_field :name, class: "sign-up-forms" %>
    </p>
    <p>
    <%= f.label 'email' %><br>
    <%= f.email_field :email, class: "sign-up-forms" %>
    </p>
    <p>
    <%= f.label 'password' %><br>
    <%= f.password_field :password, class: "sign-up-forms" %>
    </p>
    <p>
    <%= f.label 'password_confirmation' %><br>
    <%= f.password_field :password_confirmation, class: "sign-up-forms" %>
    </p>
    <p>
    <%= f.label "prc id" %><br>
    <%= f.text_field :prc_id, class: "sign-up-forms" %>
    </p>
    <p>
    <%= f.label 'birthdate' %><br>
    <%= f.date_select :birthday_date, order: [:month, :day, :year], start_year: 1901 %>
    </p>
    <p>
    <%= f.submit 'Sign Up', class: "sign-up-forms-button" %>
    </p>
  <% end %>
</div>