<%= render "main_app_layout/notices_main" %>
<%= render "main_app_layout/appmenu" %>

<div class="settings-container">
    <h2>Account settings</h2>
    <%= form_with model: @user, url: settings_update_path(id: session[:user_id]), method: :patch, scope: "user" do |f| %>
        <p>
            <%= f.label 'name' %><br>
            <%= f.text_field :name, class: "create-listing-forms" %>
        </p>
        <p>
            <%= f.label 'email' %><br>
            <%= f.text_field :email, class: "create-listing-forms", disabled: true %>
        </p>
        <p>
            <%= f.label 'prc id' %><br>
            <%= f.text_field :prc_id, class: "create-listing-forms", disabled: true %>
        </p>
        <p>
            <%= f.label 'User Image' %><br>
            <%= f.file_field :user_image, class: "create-listing-forms" %>
        </p>
        <p>
             <%= f.submit 'Update Settings', class: "create-listing-forms-button" %>
        </p>
    <% end %>
</div>
