<%= render "main_app_layout/notices_main" %>
<%= render "main_app_layout/appmenu" %>

<div class="edit-listing-container">
<h1>Edit this listing</h1>
<% if @my_listing.property_image.present? %>
    <%= image_tag @my_listing.property_image, class: "property-image-tag-show" %>
<% end %>
<%= form_with model: @my_listing, url: patch_listing_path(), scope: "my_listing", method: :patch do |f| %>
    <p>
    <%= f.label 'title' %><br>
    <%= f.text_field :title, class: "create-listing-forms" %>
    </p>
    <p>
    <%= f.label 'location' %><br>
    <%= f.text_field :location_name, class: "create-listing-forms" %>
    </p>
    <p>
    <%= f.label 'lot area (sqm)' %><br>
    <%= f.text_field :lot_area, class: "create-listing-forms" %>
    </p>
    <p>
    <%= f.label "floor area (sqm)" %><br>
    <%= f.text_field :floor_area, class: "create-listing-forms" %>
    </p>
    <p>
    <%= f.label 'Bedroom count' %><br>
    <%= f.text_field :bedroom_count, class: "create-listing-forms" %>
    </p>
    <p>
    <%= f.label 'Bathroom count' %><br>
    <%= f.text_field :bathroom_count, class: "create-listing-forms" %>
    </p>
    <p>
    <%= f.label 'Details' %><br>
    <%= f.text_area :details, rows: 5, class: "create-listing-forms" %>
    </p>
    <p>
    <%= f.label 'Image' %><br>
    <%= f.file_field :property_image, class: "create-listing-forms" %>
    </p>
    <p>
    <%= f.submit 'Update Listing', class: "create-listing-forms-button" %>
    </p>
  <% end %>
</div>