<%= render "main_app_layout/notices_main" %>
<%= render "main_app_layout/appmenu" %>
<div class="show-listing-container">
    <% @listing.each do |item| %>
    <h1 id="show-listing-h1"><%= item.title %></h1>
    <p id="show-listing-by-p">Listing by: <strong><%= item.user.name %></strong></p>
    <div class="show-listing-image-container">
        
        <% if item.property_image.present? %>
                <%= image_tag item.property_image, class: "property-image-tag-show" %>
        <% end %>
    </div>
    <div class="show-listing-info-container">
        <div class="show-listing-info-card">
            <p>Price: ₱<strong><%= item.price %></strong></p>
        </div>
        <div class="show-listing-info-card">
            <p>Area: <strong><%= item.area %></strong></p>
        </div>
        <div class="show-listing-info-card">
            <p>Location: <strong><%= item.location_name %></strong></p>
        </div>
        <div class="show-listing-info-card">
            <p>Lot Area (sqm): <strong><%= item.lot_area %></strong></p>
        </div>
        <div class="show-listing-info-card">
            <p>Floor Area (sqm): <strong><%= item.floor_area %></strong></p>
        </div>
        <div class="show-listing-info-card">
            <p>Bedroom: <strong><%= item.bedroom_count %></strong></p>
        </div>
        <div class="show-listing-info-card">
            <p>Bathroom: <strong><%= item.bathroom_count %></strong></p>
        </div>
        <div class="show-listing-info-card">
            <p>House type: Duplex **</p>
        </div>
        <div class="show-listing-info-card">
            <p class="show-listing-details-p">Details: <strong><%= item.details %></strong></p>
        </div>
    </div>
    <% if Current.user.present? %>
        <% if Current.user.id != item.user_id  %>

        <% else %>
        <div class="delete-button-for-show">
            <%= link_to "Delete this listing", delete_listing_path(id: params[:id], prop_id: item.id), method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
        <div class="edit-button-for-show">
            <%= link_to "Edit this listing", edit_listing_path(id: params[:id], prop_id: item.id) %>
        </div>
        <% end %>
    <% end %>
    <% end %>
    
    
</div>
